<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.terset.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".update_biodata"></activity>
        <activity android:name=".lihat_biodata" />
        <activity android:name=".buat_biodata" />
        <activity android:name=".mainmodul5" />
        <activity android:name=".modul5" />
        <activity android:name=".modul4" />
        <activity
            android:name=".detailmenu"
            android:parentActivityName=".menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu" />
        </activity>
        <activity
            android:name=".nota"
            android:parentActivityName=".menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu" />
        </activity>
        <activity android:name=".menu" />
        <activity
            android:name=".about"
            android:parentActivityName=".menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu" />
        </activity>
        <activity android:name=".pembayaran" />
        <activity android:name=".modul3" />
        <activity android:name=".login" />
        <activity android:name=".modul2" />
        <activity android:name=".modul1nomor2" />
        <activity android:name=".modul1nomor1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>